<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout_global :: layout(~{::title},  _, ~{::body}, ~{::scripts})}">

<head>
	<title>Promoções</title>
	
</head>

<body class="sitePrincipal">
	<main class="">
		<div class="d-grid">
			<!-- cards promocoes  -->
			<section id="promocoes" class="container-fluid py-3 my-3 mx-auto">
				<h1>Pacotes promocionais</h1>
				<div class="row row-cols g-4 py-3">
					<div class="col">
						<div class="card ">
							<img src="../../assets/img/hoteis/ex-2.jpg" class="img-fluid rounded-start" alt="...">
							<div class="card-body">
								<span class="balao-promo position-absolute top-0">-25%</span>
								<h5 class="card-title">Pacote para Gramado</h5>
								<div class="pb-3">
								</div>
								<p><i class="bi bi-airplane"></i>
									Voo direto Origem <i class="bi bi-arrow-left-right"></i> Destino</p>
								<p><i class="bi bi-building"></i> Hotel nomeHotel</p>
								<p class="card-text">Breve descrição do hotel.</p>
								<p>Preço a partir de <strong>R$ 1.230</strong></p>
								<a href="em-construcao.html" class=" btn btn-primary d-block">Ver detalhes</a>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card ">
							<img src="../../assets/img/hoteis/ex-6.jpg" class="img-fluid rounded-start" alt="...">
							<div class="card-body">
								<span class="balao-promo position-absolute top-0">-10%</span>
								<h5 class="card-title">Pacote para São Paulo</h5>
								<div class="pb-3">
								</div>
								<p><i class="bi bi-airplane"></i>
									Voo direto Origem <i class="bi bi-arrow-left-right"></i> Destino</p>
								<p><i class="bi bi-building"></i> Hotel nomeHotel</p>
								<p class="card-text">Breve descrição do hotel.</p>
								<p>Preço a partir de <strong>R$ 1540</strong></p>
								<a href="em-construcao.html" class=" btn btn-primary d-block">Ver detalhes</a>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card ">
							<img src="../../assets/img/hoteis/ex-7.jpg" class="img-fluid rounded-start" alt="...">
							<div class="card-body">
								<span class="balao-promo position-absolute top-0">-20%</span>
								<h5 class="card-title">Pacote para Manaus</h5>
								<div class="pb-3">
								</div>
								<p><i class="bi bi-airplane"></i>
									Voo direto Origem <i class="bi bi-arrow-left-right"></i> Destino</p>
								<p><i class="bi bi-building"></i> Hotel nomeHotel</p>
								<p class="card-text">Breve descrição do hotel.</p>
								<p>Preço a partir de <strong>R$ 970</strong></p>
								<a href="em-construcao.html" class=" btn btn-primary d-block">Ver detalhes</a>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card ">
							<img src="../../assets/img/hoteis/hotel-5.jpg" class="img-fluid rounded-start" alt="...">
							<div class="card-body">
								<span class="balao-promo position-absolute top-0">-5%</span>
								<h5 class="card-title">Pacote para Recife</h5>
								<div class="pb-3">
								</div>
								<p><i class="bi bi-airplane"></i>
									Voo direto Origem <i class="bi bi-arrow-left-right"></i> Destino</p>
								<p><i class="bi bi-building"></i> Hotel nomeHotel</p>
								<p class="card-text">Breve descrição do hotel.</p>
								<p>Preço a partir de <strong>R$ 1640</strong></p>
								<a href="em-construcao.html" class=" btn btn-primary d-block">Ver detalhes</a>
							</div>
						</div>
					</div>
				</div>
			</section>
	</main>
</body>
</html>