<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout :: layout(~{::title}, ~{::main}, ~{::scripts})}">

<head>
	<title>[[${reserva.idReserva == null ? 'Nova' : 'Editar'}]] Reserva</title>
</head>

<body>
	<main>
		<!-- form  -->
		<form method="POST" th:object="${reserva}" class="  container-fluid mx-auto">
			<div class="  form-crud ">
				<fieldset>
					<legend>Dados Pessoais</legend>

					<input type="hidden" th:field="*{idReserva}">

					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="cliente">Cliente</label>
								<!--<select th:field="*{mentor}" class="form-select" aria-label="Default select example">
									<option th:each="mentor : ${mentores}" th:text="${mentor.nome}"
										th:value="${mentor}">mentor</option>
								</select>-->
								<select th:field="*{cliente}" class="form-select" aria-label="Default select example">
									<option th:each="cliente : ${clientes}" th:text="${cliente.nomeCliente}"
										th:value="${cliente.idCliente}">mentor</option>
								</select>

							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label for="passagem">Passagem</label>
								<!--<input type="hidden" th:field="*{mentorModalidade.modalidadeMentoria?.id}" />-->
								<!--<select th:field="*{modalidadeMentoria}" class="form-select"
									aria-label="Default select example">
									<option th:each="modalidade : ${modalidades}" th:text="${modalidade.nomeModalidade}"
										th:value="${modalidadeMentoria}">modalidade
									</option>
								</select>-->
								<select th:field="*{passagem}" class="form-select"
									aria-label="Default select example">
									<option th:each="passagem : ${passagens}" th:text="${passagem.destinoPassagem}"
										th:value="${passagem.idPassagem}">modalidade
									</option>
								</select>
							</div>
						</div>

					</div>
				</fieldset>
				<div class=" text-center row mt-3">
					<button type="submit" class="btn btn-primary col mx-auto">Salvar</button>
				</div>
			</div>

		</form>
	</main>
</body>

</html>